<div class="box_notificacion bg_gradient_azul_2 brd_rds_20 mb-3 w-100">
	<!-- Cursos disponibles -->
	<div class="py-2 py-lg-4 px-4 px-lg-5">
		<h2 class="fz_h2 fw_600 color_azul_1 letter_spacing">Próximos cursos</h2>
	</div>
	<div class="scroll_hide">
		<ul class="mx-auto">
			<li class="d-flex mx-auto mx-lg-5 mb-4">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-2">
							{{ include('componentes/verticalDate.html.twig',{letterDay:'Viernes',day:'29',month:'Oct'}) }}
						</div>
						<div class="col-12 col-lg-10">
							<div class="container">
								<div class="row">
									{{ include('swiper/swiper_proximos_cursos.html.twig',{aja:'aja'}) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="d-flex mx-5 mb-4">
				{{ include('componentes/verticalDate.html.twig',{letterDay:'Miercoles',day:'27',month:'Oct'}) }}
				<div class="col-12 col-md-10">
					<div class="container">
						<div class="row">
							{{ include('swiper/swiper_proximos_cursos.html.twig') }}
						</div>
					</div>
				</div>
			</li>

			<li class="d-flex mx-5 mb-4">
				{{ include('componentes/verticalDate.html.twig',{letterDay:'Lunes',day:'25',month:'Oct'}) }}
				<div class="col-12 col-md-10">
					<div class="container">
						<div class="row">
							{{ include('swiper/swiper_proximos_cursos.html.twig') }}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
